* {
    margin: initial;
    padding: initial;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: $font-color;
}

.content-wrapper {
    max-width: $tablet-size;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    background-color: $grey;
    min-height: 128px;
    margin-top: 64px;
}